@import url('http://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('http://fonts.cdnfonts.com/css/poppins');



.heading{
            position: fixed;     /* fixes the header */
            top: 0;              /* stick to top */
            left: 0;
            width: 100%;         /* full width */
            z-index: 1000;       /* stays above content */
            color :rgb(3, 44, 249);
            background-color: rgb(143, 239, 250);
            padding: 10px;
            text-align: center;
            align-items:start; /*-------to align vertically in a row-------*/
            display: flex;
            justify-content:space-between;
            gap:50px;
            border-color: rgba(0,0,0,0.7);
            border :5px solid rgba(0,0,0,0.7);
            img{
                border-radius: 20px;
                border: 3px solid rgb(3, 44, 249);
            } 
            nav{
                
                gap:50px;
                margin-top: 20px;
                font-size: 18px;
                align-items: end;
                a{
                    text-decoration: none;
                    color: #333;
                    margin: 0 10px;
                }
               
            }
            nav a:hover {
                color: rgb(7, 211, 234);
                
            }
}

.about-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px;
}
.About{
    margin-top: 150px;
    padding:20px;
    max-width: 500px;
    border: 3px solid rgb(7, 211, 234);
    border-radius: 50px;
    background-color: rgba(0,0,0,0.7);
   /* background-image: url(image/watch_about_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;*/
    h1{
        color: #d4af37;
        text-align: center;
    }
    p{
        font-size: 18px;
        color: #d4af37;
    
        line-height: 2;
        margin: 20px;
        border-radius: 20px;
    }
}



/*.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:start; 
    gap: 20px;
    margin-top: 20px;
    padding : 55px;
    img{
        border-radius: 20px;
        border: 3px solid rgb(7, 211, 234);
    }
}*/

.banner {
    width:100%;
    height:100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width:200px;
    height:250px;
    top:45%;
    left:calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform:perspective(1000px) rotateY(0deg);
    }to{
        transform:perspective(1000px) rotateY(360deg);
    }
}

.banner .slider .item{
    position:absolute;
    inset: 0 0 0 0;
    transform: 
         rotateY(calc( (var(--position) -1) * (360/ var(--quantity)) * 1deg))
         translateZ(550px);

}

.banner .slider .item img{
    width:100%;
    height:100%;
    object-fit:cover;
   border-radius: 30px;
   border: 3px solid  #0ef3fb;
   
   
}
.banner .slider .item{
    position:absolute;
    inset: 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}









.footer {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
    color: rgba(240, 178, 44, 0.856);
    text-align: center;
    border: aqua 2px solid ;
    border-radius: 10px;
        }






/*login page css*/
/*.login-heading{
    text-align:left;
    color:  rgb(1, 251, 251);
    font-size: 40px;
    margin-top: 150px;
        }*/
.login-form {
            color: #06e3f7;
            margin-top: 60px;
            max-width: 500px;
            flex:1;
            padding: 20px;
            border: 1px solid rgb(1, 251, 251);
            border-radius: 10px;
          /*  background-color:  rgba(0,0,0,0.7);*/
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 5px;
        }
        input,select,textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #0ef3fb;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #06e3f7;
            color: rgb(80, 4, 245);
            padding: 10px 15px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            
        }
        input[type="text"]:hover, input[type="password"]:hover, select:hover {
            border-color: #0ef3fb;
        }

        input[type="submit"]:hover {
            opacity: 0.38;
        }


/* product page css */

.products-heading{
           text-align: center;
           color:  rgb(1, 251, 251);
           font-size: 40px;
           margin-top: 150px;
       }

.sub-headings{
           text-align:left;
           color:  rgba(240, 178, 44, 0.856);
           font-size: 25px;
           margin-top: 10px;
       }

.products-grid{
            
           display: grid;
           grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
           gap: 15px;
           padding: 20px;
       }

.product-item {
           background-color:  rgba(0,0,0,0.7);
           color: rgba(240, 178, 44, 0.856);
           padding: 20px;
           text-align: center;
           font-size: 20px;
           border: 3px solid  #6cebf7;
           border-radius: 25px;
           box-shadow: 2px 2px 12px rgba(20, 136, 213, 0.1);
           
}
.add-to-cart {
           background-color: #06e3f7;
           color: rgb(80, 4, 245);
           padding: 10px 15px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           margin: 5px;
       }
.buy-now {
           background-color: #04c40c;
           color: white;
           padding: 10px 15px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           margin: 5px;
       }


.add-to-cart:hover, .buy-now:hover {
           opacity: 0.38;
       }

.product-item:hover{
    transition :all 1ms ease-in-out;
    border-radius: 20%;
}

/*About Us Page CSS*/
.Main-heading{
           text-align: center;
           color:  rgb(1, 251, 251);
           font-size: 40px;
           margin-top: 150px;
        }

.sub-heading{
           text-align: left;
           color:  rgb(1, 251, 251);
           font-size:20px;
           margin-top: 10px;
}

.aboutUs-content{
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
    color: rgba(240, 178, 44, 0.856);
    text-align: justify;
    border: aqua 3px solid ;
    border-radius: 10px;
}


/*contact us page css*/

.contact{
    margin-top: 150px;
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
    color: rgba(240, 178, 44, 0.856);
    text-align: center;
    border: aqua 3px solid ;
    border-radius: 10px;
}

.contact-form{
    width:500px;
    height:auto;
    border: 3px solid #6cebf7;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    color: #0ef3fb;
}
.map-icon{
    width :600px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid #6cebf7;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}
.map{
    border-radius: 5px;
}
.social-links-grid{
          display: grid;
           grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
           gap: 15px;
           padding: 20px;
}
.social-link{
           background-color:  rgba(0,0,0,0.7);
           color: rgba(240, 178, 44, 0.856);
           padding: 20px;
           text-align: center;
           font-size: 20px;
           border: 3px solid  #6cebf7;
           border-radius: 25px;
           box-shadow: 2px 2px 12px rgba(20, 136, 213, 0.1);
}
.icon{
    width :50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid#6cebf7;
    padding:10px;
}





.emoji{
    font-size: 40px;
    
}